%html
	%head
		%title Current Status
		%link{:type => "text/css", :href => '/style.css', :rel=>"stylesheet"}
	%body		
		%h2 Current Statuses

		%table{:class=>'data'}
			%tbody
			- locals[:services].each do |service|
				%tr
					%td= service['environment']
					%td= service['application']
					%td= service['description']
					%td{:class=>'status'}
						%img{:class=>'sym',:src => "#{locals[:url]}#{service['current-event']['status']['image']}"}
					%td= service['current-event']['timestamp']
					%td= service['current-event']['message']

			
		%table{:class=>'data'}
			%tbody				
			-locals[:statuses].each do |status|
				%tr
					%td= status['name']
					%td= status['description']
					%td{:clsas=>'status'}
						%img{:class=>'sym',:src=> "#{locals[:url]}#{status['image']}"}
